<div id="cardWrapper">
  <div class="center" routerLink="from-event">
    <p>FROM -EVENT</p>
  </div>

  <div class="center" routerLink="interval">
    <p>Interval</p>
  </div>
  <div class="center" routerLink="offrom">
    <p>OF and FROM</p>
  </div>
  <div class="center" routerLink="toArray">
    <p>To Array</p>
  </div>
  <div class="center" routerLink="customobservable">
    <p>Custom Observable</p>
  </div>
  <div class="center" routerLink="map">
    <p>Map</p>
  </div>
  <div class="center" routerLink="pluck">
    <p>Pluck</p>
  </div>
  <div class="center" routerLink="filter">
    <p>Filter</p>
  </div>
  <div class="center" routerLink="tap">
    <p>Tap</p>
  </div>
  <div class="center" routerLink="take">
    <p>Take</p>
  </div>
  <div class="center" routerLink="retry">
    <p>Retry</p>
  </div>
  <div class="center" routerLink="debounce-time">
    <p>Debounce-Time</p>
  </div>
  <div class="center" routerLink="subject">
    <p>Subject</p>
  </div>
  <div class="center" routerLink="replay-subject">
    <p>ReplaySubject</p>
  </div>
  <div class="center" routerLink="async-subject">
    <p>AsyncSubject</p>
  </div>
  <div class="center" routerLink="concat">
    <p>Concat</p>
  </div>
  <div class="center" routerLink="merge">
    <p>Merge</p>
  </div>
  <div class="center" routerLink="mergemap">
    <p>MergeMap</p>
  </div>
  <div class="center" routerLink="concatmap">
    <p>Concat Map</p>
  </div>
  <div class="center" routerLink="concatmapnotification">
    <p>Concat Map Notification</p>
  </div>
  <div class="center" routerLink="switchmap">
    <p>Switch Map</p>
  </div>
  <div class="center" routerLink="switchsearch">
    <p>Switch Search</p>
  </div>
  <div class="center" routerLink="exhaustMap">
    <p>Exhaust Map</p>
  </div>
  <div class="center" routerLink="shareReply">
    <p>Share Reply</p>
  </div>
  <div class="center" routerLink="combine">
    <p>CombineLatest with LatestForm</p>
  </div>
  <div class="center" routerLink="zipfork">
    <p>Zip and Fork join</p>
  </div>
  <div class="center" routerLink="cathchandthrow">
    <p>CatchError and ThrowError</p>
  </div>
</div>
