<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand text-success" routerLink="/promise">
      rxjs practice
    </a>
    <strong *ngIf="exclusive">Exclusive</strong>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- <div>{{ "header.text" | translate }}</div> -->
      <ul class="nav navbar-nav navbar-center">
        <!-- <li class="nav-item active">
          <a class="nav-link" routerLink="/promise">
            {{ "header.menu.item1" | translate }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/observable">
            {{ "header.menu.item2" | translate }}
          </a>
        </li> -->
        <li class="nav-item" *ngFor="let menu of 'header.menu' | translate">
          <a class="nav-link" routerLink="{{ menu.link }}">
            {{ menu.menu }}
          </a>
        </li>
        <li class="nav-item active">
          <div class="lang">
            <a
              class="nav-link"
              [class.active]="switchLang == 'de'"
              (click)="selectedLanguage('de')"
            >
              DE
            </a>
            <a
              class="nav-link"
              [class.active]="switchLang == 'en'"
              (click)="selectedLanguage('en')"
            >
              EN
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
