<div class="container" [ngStyle]="{ color: 'mycolor' }">
  <h2>Take , TakeLast and TakeUntil</h2>
  <br />
  <p class="bg-light py-2 px-3 border rounded">
    <strong>Random Names: </strong
    >'anup','shreyas','aditya','sharma','john','alex'
  </p>
  <div class="row">
    <div class="col-md-4">
      <h3>Ex -01 : Take</h3>
      <ul id="liList1"></ul>
    </div>
    <div class="col-md-4">
      <h3>Ex -02 : Take Last</h3>
      <ul id="liList2"></ul>
    </div>
    <div class="col-md-4">
      <h3>Ex -03 : TakeUntil</h3>
      <ul id="liList3"></ul>
    </div>
  </div>
</div>
