<div class="container">
  <h2>CombineLatest and withLatestFrom</h2>

  <div class="row">
    <div class="col-md-3 pr-4">
      <strong>Names</strong>
      <hr />
      <select class="form-control" #name>
        <option *ngFor="let item of nameSource" value="{{ item }}">
          {{ item }}
        </option>
      </select>
      <br />
      <br />
      <strong>Colors</strong>
      <hr />
      <select class="form-control" #color>
        <option *ngFor="let item of colorSource" value="{{ item }}">
          {{ item }}
        </option>
      </select>
    </div>
    <div class="col-md-9 ml-auto">
      <Strong>CombineLatest</Strong>
      <hr />
      <div class="wrapper" id="elContainer"></div>
      <br />
      <br />
      <Strong>withLatestFrom</Strong>
      <hr />
      <div class="wrapper" id="elContainer1"></div>
    </div>
  </div>
</div>
