<div class="row">
  <div class="col-md-6 my-auto">
    <h2>Concat Map</h2>
    <strong>Ex - 01</strong>
    <p>Mobile Notification Example</p>
  </div>
  <div class="col-md-6">
    <div class="iphone-x">
      <i>Speaker</i>
      <b>Camera</b>
      <s>10:24</s>
      <div class="notification" id="notificationDiv">
        <!-- <div class="item">
          <div class="header">
            <div class="app">
              <img
                src="https://image.flaticon.com/icons/png/512/124/124010.png"
                alt="na"
                width="20"
                height="20"
              />
              Facebook
            </div>
            <div class="time">4 seconds ago</div>
          </div>
          <div class="body">
            <img
              class="item-img"
              src="https://placeimg.com/50/50/tech/4"
              alt="na"
              width="50"
              height="50"
            />
            <strong>Mr Abc</strong>
            <p>Comented on your post..</p>
          </div>
        </div> -->
      </div>
      <span>Left action button</span>
      <span>Right action button</span>
    </div>
  </div>
</div>
