<div class="container">
  <h2>External Library</h2>
  <div class="row">
    <div class="col-md-6">
      <div>
        <strong>Ex:01 : Graph</strong>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Random Values: </strong>[0, 10, 5, 12, 20, 30, 45],
        </p>
        <canvas id="myChart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <strong>Ex:02 : Graph</strong>
        <p class="bg-light py-2 px-3 border rounded">
          <strong>Random Values: </strong>[12, 19, 3, 5, 2, 3]
        </p>
        <canvas id="myChart1"></canvas>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <Strong>Graph Using Merge</Strong>
      <div>
        <!-- <p class="bg-light py-2 px-3 border rounded">
          <strong>Random Names: </strong>[12, 19, 3, 5, 2, 3]
        </p> -->
        <canvas id="myChart2"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <Strong>Graph Using forkJoin</Strong>
      <div>
        <!-- <p class="bg-light py-2 px-3 border rounded">
            <strong>Random Names: </strong>[12, 19, 3, 5, 2, 3]
          </p> -->
        <canvas id="myChart3"></canvas>
      </div>
    </div>
  </div>
</div>
